.card {
  display: block;
  background-color: rgb(240,240,240);
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px lightgrey;
}

.container {
  background-color: white;
}

.flat-book {
  display: block;
  width: 250 px;
}

.flat-details {
  display: block;
  width: 730px;
}

